S3method(plot,ecmle)
S3method(print,ecmle)
S3method(print,summary.ecmle)
S3method(summary,ecmle)
export(ecmle)
export(rosenbrock_generate_data)
export(rosenbrock_exact_posterior)
export(rosenbrock_log_post)
export(rosenbrock_log_post_vec)
export(pair_plot)
export(draw_ellipse_2d)
export(plot_ecmle_2d)
importFrom(IDPmisc,IDPcolorRamp)
importFrom(IDPmisc,NaRV.omit)
importFrom(graphics,box)
importFrom(graphics,hist)
importFrom(graphics,image)
importFrom(graphics,legend)
importFrom(graphics,lines)
importFrom(graphics,pairs)
importFrom(graphics,par)
importFrom(graphics,plot)
importFrom(graphics,rect)
importFrom(stats,dnorm)
importFrom(stats,quantile)
importFrom(stats,rnorm)